.control-label:after {
    content: " *";
    color: #da0000;
}

.my-form.fv-plugins-bootstrap .fv-help-block {
    color: #f39c12;
}

.my-form.fv-plugins-bootstrap .has-danger .fv-plugins-icon {
    color: #f39c12;
}

.my-form.fv-plugins-bootstrap .has-success .fv-plugins-icon {
    color: #18bc9c;
}

.fv-plugins-icon {
    display: none;
}

.fv-plugins-message-container {
    color: red;
}
